.machine-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  aspect-ratio: 1/1;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  .status-icon {
    position: absolute;
    right: 4px;
    top: 4px;
  }
  .item-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: .5rem;
    .machine-icon {
      font-size: 60px;
      height: 60px;
      width: 60px;
      line-height: 1;
      margin: 0 auto
    }
  }
}

.running .machine-icon {
  color: black;
}
